pg-facade:
  raft:
    nodes-count: 3
    nodes-check-interval: PT5S
    app-checks-retry-before-kill: 3
    raft-no-response-timeout-before-kill: PT5S
    commit-timeout: PT5S
    follower-startup-healthcheck:
      interval-ms: 100
      timeout: PT60S
  buffers:
    thread-local-byte-array-size: 65537
    thread-local-byte-buf-size: 65537
  shutdown:
    await-clients: false
    wait-for-clients-duration: PT30S #format like in java.time.Duration.parse(CharSequence text) https://docs.oracle.com/javase/8/docs/api/java/time/Duration.html#parse-java.lang.CharSequence-
  proxy:
    primary-port: 5433
    standby-port: 5434
    max-connections: 200000
    connection-pool:
      enabled: true
      await-connection-when-pool-empty: true
      await-connection-when-pool-empty-timeout: PT3S
      clean-real-used-connection-timeout: PT1S
      acquire-real-connection-timeout: PT1S
      real-connection-auth-timeout: PT1S
      pool-cleanup-interval: PT15S
      redundant-connections-lifetime: PT15M
      connection-max-age: PT60M
    inactive-clients:
      disconnect: true
      inactive-connection-timeout: PT30M #format like in java.time.Duration.parse(CharSequence text) https://docs.oracle.com/javase/8/docs/api/java/time/Duration.html#parse-java.lang.CharSequence-
      check-interval: PT10S #format like in java.time.Duration.parse(CharSequence text) https://docs.oracle.com/javase/8/docs/api/java/time/Duration.html#parse-java.lang.CharSequence-
  orchestration:
    adapter: docker
    postgres-cluster-restore:
      remove-failed-to-restore-instance: false
    common:
      external-load-balancer:
        deploy: true
        healthcheck-interval: PT5S
        healthcheck-retries: 3
        healthcheck-timeout: PT3S
        startup-duration: PT10S
      postgres:
        common:
          readiness:
            delay: PT2S
            interval: PT0.1S
            retries: 100
        primary:
          healthcheck:
            interval: PT1S
            retries: 3
            timeout: PT1.5S
        standby:
          count: 1
          healthcheck:
            interval: PT10S
            timeout: PT1.5S
    no-adapter:
      primary-host: localhost
      primary-port: 5432
    docker:
      host: unix:///var/run/pgfacade/docker.sock
      helper-object-name: "pg-facade-temp"
      external-load-balancer:
        network-for-end-clients: pg-facade-balancer-network
        dns-alias: pg-facade-balancer
        container-name: pg-facade-load-balancer
        image-tag: "pgfacade-balancer:latest"
        resources:
          cpu-limit: 1.0
          memory-limit: 512m
      pg-facade:
        internal-network-name: pg-facade-internal-network
        external-network-name: pg-facade-external-network
        container-name: pg-facade-node
        expected-docker-sock-file-name: docker.sock
        resources:
          cpu-limit: 0.5
          memory-limit: 350m
      postgres:
        image-tag: "postgres:15.4-bookworm"
        image-pg-data: "/var/lib/postgresql/data"
        network-name: pg-facade-postgres-network
        container-name: pg-facade-managed-postgres
        volume-name: pg-facade-postgres-volume
        resources:
          cpu-limit: 2.0
          memory-limit: 1024m
  archiving:
    enabled: true
    adapter: s3
    basebackup:
      create-interval: PT12H
      list-backups-interval: PT5M
      clean-up:
        remove-old: true
        keep-old-interval: PT24H
        remove-old-wal-files-when-removing: true
    wal-streaming:
      keepalive-interval: PT5S
      initial-delay: PT3S
      query-timeout: PT5S
      replication-slot:
        enabled: true
        name: pgfacade
      fault-tolerance:
        streaming-active-check-interval: PT5S
        max-unsuccessful-retries-before-force-restart: 5
        create-new-backup-in-case-of-force-restart: true
    s3:
      protocol: http
      endpoint: http://s3:9000
      access-key: Rre6lc6yiubAgi9H
      secret-key: EEmKeAC4ocIX2qOp2cvxNO3bnOsRN121
      region: eu-central-1
      multipart-upload-part-size-mb: 5
      backups-bucket: pgfacade
      wal-bucket: pgfacade
  postgres:
    users:
      pg-facade:
        username: pgfacade
        password: pgfacade
        database: pgfacade
      replication:
        username: replicant
        password: replicant
        database: postgres
quarkus:
  http:
    port: 8080
  log:
    level: INFO
    console:
      format: "[%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}] [%-5p] [%-64.64c{3.}] [%-24.24M] [%-8.8X{raftRole}] - %s%e%n"
      filter: custom-filter
    category:
      "com.lantromipis.proxy":
        level: INFO
      "com.lantromipis.proxy.initializer":
        level: INFO
      "com.lantromipis.connectionpool":
        level: INFO
      "com.lantromipis.pgfacadeprotocol":
        level: INFO
      "org.apache.hc":
        level: WARN
      "org.apache.http":
        level: WARN
  banner:
    enabled: true
    path: banner
  application:
    name: PgFacade

"%dev":
  quarkus:
    log:
      category:
        "com.lantromipis.configuration":
          level: DEBUG
        "com.lantromipis.orchestration":
          level: DEBUG
        "com.lantromipis.postgresprotocol":
          level: DEBUG
        "com.lantromipis.proxy.initializer":
          min-level: TRACE
          level: DEBUG
        "com.lantromipis.proxy":
          level: DEBUG
        "com.lantromipis.connectionpool":
          level: DEBUG
        "org.apache.hc":
          level: ERROR
        "com.lantromipis.pgfacadeprotocol":
          min-level: TRACE
          level: DEBUG
    devservices:
      enabled: false
    test:
      continuous-testing: disabled
    analytics:
      disabled: true
