pg-facade:
  shutdown:
    await-clients: true
    wait-for-clients-duration: PT30S #format like in java.time.Duration.parse(CharSequence text) https://docs.oracle.com/javase/8/docs/api/java/time/Duration.html#parse-java.lang.CharSequence-
  proxy:
    port: 5433
    max-connections: 100
    connection-pool:
      enabled: false
    inactive-clients:
      disconnect: true
      inactive-connection-timeout: PT5M #format like in java.time.Duration.parse(CharSequence text) https://docs.oracle.com/javase/8/docs/api/java/time/Duration.html#parse-java.lang.CharSequence-
      check-interval: PT10S #format like in java.time.Duration.parse(CharSequence text) https://docs.oracle.com/javase/8/docs/api/java/time/Duration.html#parse-java.lang.CharSequence-
  orchestration:
    adapter: docker
    common:
      postgres-startup-check:
        start-period: 2000 #millisecinds
        interval: 100 #millisecinds
        retries: 100
      postgres-dead-check:
        interval: PT1S #format like in java.time.Duration.parse(CharSequence text) https://docs.oracle.com/javase/8/docs/api/java/time/Duration.html#parse-java.lang.CharSequence-
        retries: 3
      standby:
        count: 1
        count-check-interval: PT1S
    no-adapter:
      primary-host: localhost
      primary-port: 5432
    docker:
      docker-host: unix:///var/run/pgfacade/docker.sock
      helper-object-name: "pg-facade-temp"
      pg-facade:
        local-files-directory: "/var/run/pgfacade"
      postgres:
        image-tag: "postgres:latest"
        image-pg-data: "/var/lib/postgresql/data"
        network-name: pg-facade-postgres-network
        container-name: pg-facade-managed-postgres
        volume-name: pg-facade-postgres-volume
        healthcheck:
          start-period: 3000 #millisecinds
          interval: 5000 #millisecinds
          timeout: 100 #millisecinds
          retries: 10
          cmd-shell-command: pg_isready -U ${pg-facade.postgres.users.pg-facade.username}
  archiving:
    enabled: true
    adapter: s3
    basebackup:
      create-interval: PT30M
      list-backups-interval: PT1M
      clean-up:
        remove-old: true
        keep-old-interval: PT90M
        remove-old-wal-files-when-removing: true
    wal-streaming:
      upload-wal-retries: 3
      wal-dir-clear-interval: PT5M # how often to clear old .partial files
      retry-upload-wal-files-interval: PT1M
      recovery:
        move-wal-after-completion: true # move completed WAL to another dir to prevent them from deletion in case of force restart
        streaming-active-check-interval: PT5S
        max-unsuccessful-retries-before-force-restart: 10 # clears WAL streaming directory and restarts WAL streaming. All files (even not saved) are roved! Recommended to use with move-wal-after-completion = true
        create-new-backup-in-case-of-force-retry: false
    s3:
      protocol: http
      endpoint: http://minio:9000
      access-key: XyWoumXpa0e5Pv8H
      secret-key: wQxh5RfnLO0MN0nDv390nfo6piLvhStM
      region: eu-central-1
      multipart-upload-part-size-mb: 5
      backups-bucket: pgfacade
      wal-bucket: pgfacade
  postgres:
    default-settings:
      max-wal-keep-count: 16  # 'wal_keep_segments' for Postgres < 13 and 'wal_keep_size' for > 13 (count * 16)
    users:
      superuser: #used only when creating new database to create other users
        username: postgres
        password: postgres
        database: postgres
      pg-facade:
        username: pgfacade
        password: pgfacade
        database: pgfacade
      replication:
        username: replicant
        password: replicant
        database: postgres
quarkus:
  http:
    port: 8080
  log:
    level: INFO
    console:
      format: "[%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}] [%-5p] [%-50.50c{3.}] [%-20.20M] - %s%e%n"
    category:
      "org.apache" :
        level: ERROR
  banner:
    enabled: true
    path: banner
  application:
    name: PgFacade

"%dev":
  quarkus:
    devservices:
      enabled: false
    test:
      continuous-testing: disabled
